
<div id="container">
  <div class="column">
    <h3>Japanese Words</h3>
    <button *ngFor="let word of shuffledJapaneseWords; let i = index"
            (click)="onClick(word, i + shuffledEnglishWords.length)"
            [ngClass]="buttonStates[i + shuffledEnglishWords.length]">
      {{ word }}
    </button>
  </div>

  <div class="column">
    <h3>English Words</h3>
    <button *ngFor="let word of shuffledEnglishWords; let i = index"
            (click)="onClick(word, i)"
            [ngClass]="buttonStates[i]">
      {{ word }}
    </button>
  </div>
</div>
