button {
  width: 10rem;
  height: 3rem;
  margin: 5px;
  border-radius: 0.5rem;
}

button.selected {
  background-color: lightskyblue;
  font-weight: bolder;
}

button.match {
  background-color: lightgreen;
  font-weight: bolder;
}

button.mismatch {
  background-color: lightcoral;
  font-weight: bolder;
}

button.default {
  background-color: lightgray;
  font-weight: bolder;
}
