/* You can add global styles to this file, and also import other style files */

body {
  font-family: Helvetica, sans-serif;
  height: 100%;
  width: 100vw;
  background-image: url("https://images7.alphacoders.com/134/1348496.png");
  background-position: center;
  color: black;
}
